/* Purpose: Set the Navbar Top Header properties in Desktop */

header
{
    background:#D46142;
   
    .container-fluid
       {
                .top-header { 
                font-size:1rem;
                padding:8px;

               .hyper-link a
                {                 
                    text-decoration: none; 
                    color:white;
                }
               .language-menu a  
                {
                    text-decoration: none;
                }
                .text-resize{
                  font-size:0.9rem;
                }
                .contrast{
                    padding-right: 8px;
                    padding-left: 11px;
                }
                /* Advice & code given by RAM sir */
                .monochrome{
                 border-radius: 50%;
                 background-color:black;

                }

                .date-time-section{
                  margin:30px;  
                } 

                .date-time{
                    font-family: $font-family-number;
                }
            }

            .bottom-header
            {
            .logo{
                //height:90%;
                width:90%;
            }
           
            }            
        }
}


/* Purpose: set the search icon color & background  */

header{
.container{
    .search-ico{
        color:$search_icon_foreground;
        background:$search_icon_background;
        border-radius:50%;
        padding:5px 8px;
        } 

}
}

/* Purpose: set the active link bottom underline */

header{
     .container{
        .nav-item{                
           .link-active
                {                            
                border-bottom: 3px solid $search_icon_foreground ;
                }
}}}


/* Purpose: Decrease the size of Navbar top-header in iPhone X */

@media screen and (max-width:768px)
{
    header
    {
      .container-fluid{
                      .top-header{
                                 font-size:0.8125rem;
                                .contrast{
                                         font-size:0.875rem;
                                }
                      }  
        }
    }    
}

/* Purpose: Decrease the size of Navbar in iPhone X */

@media screen and (max-width:768px)
{
    header
    {
      .container{
          font-size:0.8125rem;
        .logo{ 
        width:75%;
        //height:85%;
        }
        .dropdown-menu{
            font-size:0.8125rem;
        }
        /*
        .search-box{
            width:175px;
            height:30px;
            //display:none;
           } 
           */
    }
    }
}

 /* Purpose: Display the Language DropDown Menu on hover */
 
 header{
    .container-fluid{  
            .dropdown:hover .dropdown-menu{
               display:block;
              // background:silver;
               left:0;
               box-shadow:3px 3px 20px black;
              }
             }
}


 /* Purpose: Reduce the size of Language DropDown Menu in iPhone X */

@media screen and (max-width:768px)
{
    header{
        .container-fluid{  
                .dropdown:hover .dropdown-menu{
                   display:block;
                  // background:silver;
                   left:0;
                   font-size: 0.8125rem;
                  }
                 }
    }

}

/* Purpose: Disable the text decoration of Language DropDown Menu */

header{
    .container-fluid{  
        .top-header{
            .dropdown{
                #dropdownMenuLink{
               text-decoration:none;
            }
            .dropdown-menu::before{
                content:'';
                height:0;
                width: 0;
                top:-6px;
                left:10px;
                position:absolute;
                border-left:6px solid transparent;
                border-right:6px solid transparent;
                border-bottom:6px solid white;
            }
            }
        }
}}


/* Purpose: Set the color of menu items  */

header{
    .container{
        .nav-item{
        .menu-item{
            color:$menu_color;
        }
    }}
    }


/* Purpose: Display the Language DropDown sub Menu notch in iPhone X */

@media screen and (max-width:768px)
{ 
header{
    .container-fluid{  
        .top-header{
            .dropdown{
            .dropdown-menu::before{
                content:'';
                height:0;
                width: 0;
                top:-4px;
                left:137px;
                position:absolute;
                border-left:4px solid transparent;
                border-right:4px solid transparent;
                border-bottom:4px solid $arrow;
            }
            }
        }
}}
}

/* Purpose: set the width of the search-box

header{
    .container{
          .search-box {
              width:175px;
              display:none; 
              position:absolute;
              left:80%;
              top:75%;
             }             
            }
}

 */

/* Purpose: Display notch with dropdown menu 

header{
    .container{
              .dropdown-menu::before{
                  content:'';
                  height:0;
                  width: 0;
                  top:-6px;
                  left:10px;
                  position:absolute;
                  border-left:6px solid transparent;
                  border-right:6px solid transparent;
                  border-bottom:6px solid $arrow;
                 }
            }
}
*/
/* Purpose: Decrease the size of notch with dropdown menu in iPhone X 

@media screen and (max-width:768px)
{
header{
    .container{
              .dropdown-menu::before{
                  content:'';
                  height:0;
                  width: 0;
                  top:23px;
                  left:14px;
                  position:absolute;
                  border-left:4px solid transparent;
                  border-right:4px solid transparent;
                  border-bottom:4px solid $arrow;
                 }
            }
}
}
*/
 /* Purpose: Display the DropDown Menu on hover

header{
    .container{  
            .dropdown:hover .dropdown-menu{
              // background:silver;                               // This is disable Temporary
               display:block;
               box-shadow:3px 3px 20px black;
              }
             }
}

*/
 /* Purpose: Display the DropDown sub Menu on hover 

 header{
    .container{  
            .submenu {                
              .submenuitem{
               left:166px;
               top:-2px;               
               }
              .submenuitem::before{                         
                content:'';
                height:0;
                width: 0;
                top:10px;
                left:-13px;
                position:absolute;
                border-left:6px solid transparent;
                border-right:6px solid $arrow;
                border-bottom:6px solid transparent; 
                border-top:6px solid transparent;
            }
            }
        }
}
*/
/* Purpose: Display the DropDown sub Menu on hover in iPhone X 

@media screen and (max-width:767px)
{
    header{
        .container{  
                .submenu {                   
                  .submenuitem{                 
                   left:166px;
                   top:-2px;               
                  }
                  .submenuitem::before{                         
                    content:'';
                    height:0;
                    width: 0;
                    top:25px;
                    left:13px;
                    position:absolute;
                    border-left:4px solid transparent;
                    border-right:4px solid transparent;
                    border-bottom:4px solid $arrow; 
                }
                }
            }
    }
}
*/






/* This CSS use to display the search-box on hover
--------------------------------------------------
----------------------Not Working-----------------
--------------------------------------------------

header{
    .container{
           .search-controller:hover > .search-box{
            border: 10px solid red;
            //display:block;
             }             
            }
    }    

 */


 /* Purpose: (NEW) Display the DropDown Menu on hover */

 header{
    .container{ 

        .dropdown-item{
            font-weight: 500;
        }


        .dropdown-menu{
            border: none;
            li{
                position: relative;

                .dropdown-menu{
                    position: absolute;
                    right: -100%;
                    top: -5px;
                }
            }
        }
  
        .dropdown-submenu{
                position:fixed;
                // left:110%;
                display:none;
            }

        .arrow{
                float:right;
            }

        /* Purpose: Old version equivalent CSS code

        .nav-item:hover > .dropdown-mainmenu{
            display:block;  
            box-shadow:2px 2px 15px #0000006e;
            }

        .dropdown-menu > li:hover > .dropdown-submenu{
            display:block;
            box-shadow:2px 2px 15px #0000006e;
            }
            
        */

        .nav-item:hover{
            .dropdown-mainmenu{
                      display:block;  
                      box-shadow:2px 2px 15px #0000006e;
            }
        }

        .dropdown-menu{
                  li:hover{
                    .dropdown-submenu{
                              display:block;
                              box-shadow:2px 2px 15px #0000006e;
                 }
            }
        }

        .dropdown-mainmenu::before{
                content:'';
                height:0;
                width: 0;
                top:-6px;
                left:10px;
                position:absolute;
                border-left:6px solid transparent;
                border-right:6px solid transparent;
                border-bottom:6px solid $arrow;
            }

        .dropdown-submenu::before{
                content:'';
                height:0;
                width: 0;
                top:10px;
                left:-12px;
                position:absolute;
                border-left:6px solid transparent;
                border-right:6px solid $arrow;
                border-bottom:6px solid transparent; 
                border-top:6px solid transparent;
            }
    }
}


/* Purpose: Decrease the size of notch with dropdown menu in iPhone X */

@media screen and (max-width:768px)
{
header{
    .container{
              .dropdown-mainmenu::before{
                  content:'';
                  height:0;
                  width: 0;
                  top:33px;
                  left:14px;
                  position:absolute;
                  border-left:4px solid transparent;
                  border-right:4px solid transparent;
                  border-bottom:4px solid $arrow;
                 }
              .dropdown-submenu::before{
                  content:'';
                  height:0;
                  width: 0;
                  top:11px;
                  left:-12px;
                  position:absolute;
                  border-left:6px solid transparent;
                  border-right:6px solid $arrow;;
                  border-bottom:6px solid transparent; 
                  border-top:6px solid transparent;
                }      
                
                /* This is temporary disabled
              .dropdown-submenu{                 
                  position:relative;
                  left:7px;
                  top:50px;
                  width:96%;
                 //margin:auto;
                } 
                */ 
              .search-controller{
                display:none;
               }

               .dropdown-mainmenu{
                   li{
                        position: relative;
                   }
                     .dropdown-submenu{                 
                            position:absolute;
                            left:50%;
                            width:50%;
                           //margin:auto;
                          } 
                                     
                }           
          }
        }
}




/* Purpose: Full screen search box with light background */

header{
    .container{ 
  /*
* {
    box-sizing: border-box;
  }
  */
  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.7);
  }
  
  .overlay-content {
    position: relative;
    top: 46%;
    width: 50%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
  }
  
  .overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;;
  }
  
  .overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    //background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background:#D46142;
    color:white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}}

/* Purpose: Full screen search box with light background in iPhone X */

@media screen and (max-width:768px)
{

header{
    .container{
  /*
* {
    box-sizing: border-box;
  }
  */
  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.7);
  }
  
  .overlay-content {
    position: relative;
    top: 46%;
    width: 60%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
  }
  
  .overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
  }
  
  .overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background:#D46142;
    color:white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}}
}

/* Purpose: Display search icon with CIET logo but hidden in Desktop */

header{
    .container{
        .search-icon{
            font-size: 14px;    
            color:$search_icon_foreground;    
            background:$search_icon_background;
            border-radius: 50%;    
            padding:4px 7px;
            display: none;
        }
    }
}

/* Purpose: Display search icon besides navbar-toggler in iPhone X */

@media screen and (max-width:768px)
{
    header{
        .container{
            .search-icon{
               position:absolute;
               display:inline-block;
               margin-left:10px;
               margin-top:12px;
            }
        }
    }
}    

header{
    .container{
        .navbar-toggler-custom{
          border:none;
          color:$search_icon_foreground;    
          background:$search_icon_background;
          margin-left:10px;
        }
    }
}

/* Purpose: Display Sidebar on the Small Screeen */

    .sidebar{
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #D46142;
      opacity: 0.8;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
      font-size: 14px;
     // height: 50%;
     // border-top-right-radius:25px;
     // border-bottom-right-radius: 25px;


a{
    color:white;
    font-weight:900;
    text-decoration: none; 
}
li{

    list-style: none;
    margin-left: 0;
    color:white;
   // font-weight:300;
}
 .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 26px;
    margin-left: 50px;
  }
  .closebtn:hover {
  color:black;
  }
  .sidebar-submenu{
         display:none;
  }
  .sidebar-submenu1{
    display:none;
  }
  .sidebar-mainmenu:hover 
       {
        .sidebar-submenu{
              display:block;
               }
       }
  .sidebar-submenu:hover 
     {
 .sidebar-submenu1{
         display:block;
         }
     }
}

    header{
        .container{
            .customize{
                display:none;
                }
        }
    }
   

/* Purpose: For About Us and Joint Director Message */

    .about-profile-section{
        .left-panel{
             text-align: justify;
             padding:2rem ;
                    .custom-button{
                        background-color: #D46142;
                        color:white;
                        text-decoration:none;
                        border-radius: 1.5rem;
                        padding:.5rem 1.25rem;
                    }
        }
    .right-panel{
        background-color:#F6F6F6;
        text-align: justify;
        border-radius:1.5rem;
        padding:1.5rem;    
        .right-panel-box{
            background:white;
            width:90%;
            border-radius:1.5rem;
            box-shadow: 5px 5px 10px grey;
            margin:auto;
            .profile-pic{
                  margin:auto;
                  .jd-image{
                      width:7.813rem;
                  }
            }
        }
        .jd-message{
            padding:1.5rem;
        }
        }
    }


/* Purpose: Media Query For About Us and Joint Director Message */

@media screen and (max-width:768px)
{
    .about-profile-section{
        .left-panel{
             h4{
               font-size: 1rem;
               }
            }
       font-size: 0.75rem;
       .right-panel{
        .right-panel-box{
            .profile-pic{
                text-align: center;
                margin-top:0.313rem;
                margin-bottom:0;
                .jd-image{
                    width:5rem;
                }
            } 
        } 
      }
    }
}

.bottom-panel{
padding:20px;
text-align:center;
}

.bottom-panel-item{
    img{
     border:1px solid silver;
     border-radius:10px;
     box-shadow: 2px 2px 5px silver;
    }
}

/* Purpose: Manage Infrastructure and Publication Section */

.infra-pub-section
 {
     padding:10px;
    .infra-pub-subsection
    {
        border: 5px solid #EDAE8B;
        border-radius:25px;
        padding: 25px;
        display:inline-block;
        text-align:center;
        margin:10px;
        width:200px;
        height:200px;
        font-weight: bold;
      //  box-shadow:5px 5px 3px #EDAE8B;
    }

    .infra-pub-subsection:hover
    {
    //color:white;
    background:#F9E6DC;
    }
}


/* Purpose: Manage Constitution Section 

.constitution-section{
    background-color: #F2F2F2;
    padding:1.5rem; 
    .constitution-subsection{
        background-color: #393862;
        color:white;
        width:2.5rem;
        text-align: center;
        float:left;

        // padding:2.5rem 3.125rem;         // Equivalent to 50px
       // margin:0.5rem;              // Equivalent to 16px

    }
    .constitution-subsection-active{
        background-color: #D46142;
        color:white;
        width:2.5rem;

        //padding:2.5rem 3.125rem;         // Equivalent to 50px
        //margin:1rem;              // Equivalent to 16px
    }


}
.constitution-section{
    background-color: #F2F2F2;
    color:white;
    font-weight:500;
    padding:1.5rem; 
    text-align:center;
    .constitution-subsection{
        background-color: #393862;
        margin:2rem;
        padding:50px;
        width:20%; 
        float:left;
    }
    .constitution-subsection-active{
        background-color: #D46142;
        margin:2rem;
        padding:50px;
        width:20%;float:left;
    }
}
 */


 /* Purpose: Manage Constitution Section*/
 .constitution-section-main{
    background-color: #F2F2F2;
    color:white;
    padding:25px;
    text-align: center;    
    .constitution-subsection-active{
        background-color: #D46142;
        margin:2rem;
        padding:50px;
        width:20%; 
    }
    .constitution-subsection{
        background-color: #393862;
        margin:2rem;
        padding:50px;
        width:20%; 
    }
}

 /* Purpose: Media Query to Manage Constitution Section*/
@media screen and (max-width:768px)
{
    .constitution-section-main{
        font-size: 10px;
    padding:5px;
    text-align: center;    
    .constitution-subsection-active{
        // margin:2rem;
        //padding:150px;
        width:85%; 
        height:150px;
        margin-bottom: 2px;
    }
    .constitution-subsection{
        // margin:2rem;
        //padding:150px;
        width:85%;
        height:150px;
        margin-bottom: 2px;
        padding-top: 30px;

    }
  }
}

 /* Purpose: Media Query to Manage Infrastructure and Publication Section*/
@media screen and (max-width:768px)
{
    .infra-pub-section
    {
        padding:10px;
       .infra-pub-subsection
       {
           padding: 25px;
           font-size: 10px;
           width:150px;
           height:150px;
           margin:5px auto;
           img{
             width:50%;
           }
       }
   }
}

 /* Purpose: Media Query to Bottom Panel Section*/
@media screen and (max-width:768px)
{
    .bottom-panel{
        padding:20px;
            }
    .bottom-panel-item{
       //border: 2px solid silver;
        margin-bottom: 5px;
        img{
            width:100px;
        }
    }
}

 /* Purpose: Digital Education Initiative Section*/
.digital-education-initiatives{
   background:#F6E2C9;
   padding:25px;
   .custom-button{
    background-color: #D46142;
    color:white;
    text-decoration:none;
    border-radius: 1.5rem;
    padding:.5rem 1.25rem;
}
}

 /* Purpose: Ongoing Events Section*/
.ongoing-events{
    padding:25px;
    .custom-button{
        background-color: #D46142;
        color:white;
        text-decoration:none;
        border-radius: 1.5rem;
        padding:.5rem 1.25rem;
    }
}

/* Purpose: Slick Slidder Section*/
.ongoing-events{
    .slick-carousel {
        width: 1190px;
        height:170px;
        margin:auto;
        padding-left:7px;
        //border:10px solid red;        
      }
      
      .slick-slide {
        width: 50px;
        //border:10px solid green;
      }
      
      .slick-next::before, .slick-prev::before {
      color:#D46142;
      font-size: 30px;
      }

      .slick-carousel img{
       border-radius:15px;
       width:200px;
       height:130px;
       }
      
      .slick-dots li.slick-active button:before {
        color:#D46142;
       }

}


.digital-education-initiatives{

    .slick-carousel {
        width: 1190px;
        height:170px;
        margin:auto;
 
        //border:10px solid red;        
      }
      
      .slick-slide {
        width: 50px;
        height:150px;
        //border:10px solid green;
        padding-left: 100px;
      }
      
      .slick-next::before, .slick-prev::before {
      color:#D46142;
      font-size: 30px;
      }

      /*
      .slick-carousel img{
       border-radius:15px;
       width:380px;
       height:130px;
       }
       */
      
      .slick-dots li.slick-active button:before {
        color:#D46142;
       }
}


/* Purpose: Media Query for ongoing events Slick Slidder Section*/
@media screen and (max-width:768px)
{

    .ongoing-events{
        font-size: 10px;
        .slick-carousel {
            width: 330px;
            height:50px;
            margin:auto;
            //padding-left:7px;
            //border:10px solid red;    
            font-size: 7px;    
          }
          
          .slick-slide {
            width: 50px;
            //border:10px solid green;
          }
          
          .slick-next::before, .slick-prev::before {
          color:#D46142;
          font-size: 15px;
          }
    
          .slick-carousel img{
           border-radius:5px;
           width:50px;
           height:30px;
           }
          
           
          .slick-dots li.slick-active button:before {
            color:#D46142;
           }
           .custom-button{
            font-size: 8px;
        }
    
    }



}

/* Purpose: Media Query for Digital Education Initiative Slick Slidder Section*/
@media screen and (max-width:768px)
{
    .digital-education-initiatives{

        .slick-carousel {
            width: 350px;
            height:70px;
            margin:auto;
            font-size:8px;
            //border:10px solid red;        
          }
          
          .slick-slide {
            width: 10px;
            height:50px;
            //border:10px solid green;

          }
          
          .slick-next::before, .slick-prev::before {
          color:#D46142;
          font-size: 15px;
          }
    
          
          .slick-carousel img{
            border-radius:5px;
            width:50px;
            height:30px;
           }
           
          
          .slick-dots li.slick-active button:before {
            color:#D46142;
           }

           .custom-button{
            font-size: 8px;
        }
    }

}


/* Purpose: Tabs and Pills for the Notifiacation Section*/

.notification{
	background-color:#F2F2F2;
	padding:25px;	
    	
	.main-content{
	background:white;
	padding:20px 10px;	
	border-radius:10px;
	box-shadow:5px 5px 5px silver;
    min-height: 325px;
	width:70%;
    margin:auto;
	}
	
	li{
	padding:3px;	
	}
	
    .contract{
	color:#6A933E;
	font-weight:bold;
	font-size:14px;
    padding:0px 10px;
    border:1px solid #6A933E;
	border-radius:15px;
    }
	
	.regular{
	color:#BD4646;
	font-weight:bold;
	font-size:14px;
	padding:0px 15px;
	border:1px solid #BD4646;
	border-radius:15px;
	}
	
	.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #D46142;
	color:white;
	font-size:14px;
	font-weight:bold;
	border-radius:25px;
	border:0px;
    }
	
	.nav-pills .nav-link {
    color:black;
	font-size:14px;
	font-weight:bold;
	background-color: white;
	color:black;
	border-radius:25px;
	border:0px;
	box-shadow:5px 5px 5px silver;
	}

    .notification-tab{
        width:30%;
        margin:auto;  
        li{
            margin:auto;    
            }
    }
}

/* Purpose: Media Query of Tabs and Pills for the Notifiacation Section*/

@media screen and (max-width:768px)
{

    .notification{
        background-color:#F2F2F2;
        padding:15px 0px;	
           
        .main-content{
        background:white;
        padding:20px 1px;	
        border-radius:10px;
        box-shadow:5px 5px 5px silver;
        min-height: 270px;
        width:100%;
        margin:auto;
        }
        
        li{
        padding:1px;
        font-size:14px;	
        }
        
        .contract{
        color:#6A933E;
        font-weight:bold;
        font-size:10px;
        padding:0px 10px;
        border:1px solid #6A933E;
        border-radius:15px;
        }
        
        .regular{
        color:#BD4646;
        font-weight:bold;
        font-size:10px;
        padding:0px 15px;
        border:1px solid #BD4646;
        border-radius:15px;
        }
        
        .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: #fff;
        background-color: #D46142;
        color:white;
        font-size:10px;
        font-weight:bold;
        border-radius:25px;
        border:0px;
        }
        
        .nav-pills .nav-link {
        color:black;
        font-size:10px;
        font-weight:bold;
        background-color: white;
        color:black;
        border-radius:25px;
        border:0px;
        box-shadow:5px 5px 5px silver;
        }
    
        .notification-tab{
            width:100%;
            margin:auto;  
            li{
                margin:auto;    
                }
        }
    }
   
}